<div class="container">
	<%= link_to "2015 Lit Project", home_path, id: "logo"%>
	<nav>
		<ul class="nav navbar-nav navbar-right">
			<li><%= link_to "Home", home_path %></li>
			<li><%= link_to "Future Study", futurestudy_path%></li>
			<li><%= link_to "Analysis", analysis_path%></li>
			<li><%= link_to "Bibliography", bibliography_path%></li>
			<li><%= link_to "Countries", countries_path%>
		</ul>
	</nav>
</div>
